.cocktail-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-top: 3rem;
  margin-left: .5rem;
  padding: 2rem 3rem;
  max-width: 50vw;
  max-height: 70vh;
  height: 100%;
  border: 2px solid #100c26;
  border-radius: 15px;
  background-color: #6EA4BF;
}

.search-field-label {
  margin-right: 1rem;
  font-size: 0.9rem;
}

.btn {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  width: 80%;
  border: 2px solid #100c26;
  background-color: #FFC857;
  font-weight: 700;
  border-radius: 10px;
}

.form-option {
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field {
  font-size: 1rem;
  padding: 0.1rem 0.05rem;
  border: 2px solid #100c26;
}
