@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  min-height: 78.5vh;
  flex-grow: 1;
  margin: 0 auto;
}

.container-header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.container-header a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.main-header, .main-footer {
  background: #100c26;
  color: white;
  padding: 1rem 2rem;
}

.main-footer {
  min-height: 10px;
  justify-content: center;
}




