.drink-image-thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 20px 0 0 20px;
}

.search-results {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 60vw;
}

.search-result {
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  width: 100%;
  transition: all .5s ease-in-out;
  border-radius: 20px;
}

.search-result:hover {
  border: 2px solid yellow;
  transform: scale(0.95);
}

.search-result-label {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  margin-right: 2rem;
  font-size: 1.6em;
  font-weight: bold;
}