.drink-image-thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 20px 0 0 20px;
}

.search-results {
  margin: 2rem auto 2rem;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60vw;
}

.search-result {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  margin-right: .5rem;
  width: 500px;
  transition: all .5s ease-in-out;
  border-radius: 20px;
}

.search-result:hover {
  border: 2px solid yellow;
  transform: scale(0.95);
}

.search-result button {
  margin-top: .5rem;
  margin-right: 1rem;
  justify-content: center;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #100c26;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}